.Store-Post-Main-Box{
display: flex;
flex-direction: column;
padding-top: 1%;
padding-left: 3%;
padding-right: 3%;
}

.Store-Search-Options-Container{
    height:200px;
    width: 400px;
}

.Store-Card-Column{
    padding-top: 5em;
    display:flex;
}
.storePostBox{
    height: 200px;
    width: 400px;

}
.storeImg{
   height: 150px;
   width: 100px;
}
.input-group-text{
    padding:0px;
    width: 48px;
}

.Store-Spinner-Container{
    display: flex;
    align-items: center;
}

