*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
h1{
  margin: 0px;
}
p{
  padding: 0px;
}

.footer{
  flex-shrink: 0;  
  width:100%;
}
.content{
  flex: 1 0 auto; 
  /* flex-grow: 1; */
}
.Main-Div{
  display: flex;
  flex-direction: column;
}
/* For the searchbar img in header and store */
.Searchbar-Image{
  max-height: 38px;
  max-width: 80px;
}

#SearchBar-Button{
  margin: 0px;
  max-height: 38px;
  padding: 0px;
}

.App {
  /* min-height: 100%;
  min-width:100%;
  padding:0px; */
  justify-content: center;
  min-height: 100vh; 
  display:flex;
  flex-direction: column;
}
